<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/infrastructure"
            class="QWiki.Infrastructure.InfrastructurePackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QWiki -->
      <parser
            type="infrastructure"
            class="QWiki.Infrastructure.util.InfrastructureResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/kernel"
            class="QWiki.Kernel.KernelPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/i18n"
            class="QWiki.I18N.I18NPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/spice"
            class="QWiki.SPICE.SPICEPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QWiki -->
      <parser
            type="spice"
            class="QWiki.SPICE.util.SPICEResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/rasci"
            class="QWiki.RASCI.RASCIPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/bibliography"
            class="QWiki.Bibliography.BibliographyPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/glossary"
            class="QWiki.Glossary.GlossaryPackage"
            genModel="src/ecore/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/infrastructure"
            class="QWiki.Infrastructure.provider.InfrastructureItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/kernel"
            class="QWiki.Kernel.provider.KernelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/i18n"
            class="QWiki.I18N.provider.I18NItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/spice"
            class="QWiki.SPICE.provider.SPICEItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/rasci"
            class="QWiki.RASCI.provider.RASCIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/bibliography"
            class="QWiki.Bibliography.provider.BibliographyItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/glossary"
            class="QWiki.Glossary.provider.GlossaryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Infrastructure.presentation.InfrastructureModelWizardID"
            name="%_UI_InfrastructureModelWizard_label"
            class="QWiki.Infrastructure.presentation.InfrastructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InfrastructureModelFile.gif">
         <description>%_UI_InfrastructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Infrastructure.presentation.InfrastructureEditorID"
            name="%_UI_InfrastructureEditor_label"
            icon="icons/full/obj16/InfrastructureModelFile.gif"
            extensions="infrastructure"
            class="QWiki.Infrastructure.presentation.InfrastructureEditor"
            contributorClass="QWiki.Infrastructure.presentation.InfrastructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Kernel.presentation.KernelModelWizardID"
            name="%_UI_KernelModelWizard_label"
            class="QWiki.Kernel.presentation.KernelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KernelModelFile.gif">
         <description>%_UI_KernelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Kernel.presentation.KernelEditorID"
            name="%_UI_KernelEditor_label"
            icon="icons/full/obj16/KernelModelFile.gif"
            extensions="kernel"
            class="QWiki.Kernel.presentation.KernelEditor"
            contributorClass="QWiki.Kernel.presentation.KernelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.I18N.presentation.I18NModelWizardID"
            name="%_UI_I18NModelWizard_label"
            class="QWiki.I18N.presentation.I18NModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/I18NModelFile.gif">
         <description>%_UI_I18NModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.I18N.presentation.I18NEditorID"
            name="%_UI_I18NEditor_label"
            icon="icons/full/obj16/I18NModelFile.gif"
            extensions="i18n"
            class="QWiki.I18N.presentation.I18NEditor"
            contributorClass="QWiki.I18N.presentation.I18NActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.SPICE.presentation.SPICEModelWizardID"
            name="%_UI_SPICEModelWizard_label"
            class="QWiki.SPICE.presentation.SPICEModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SPICEModelFile.gif">
         <description>%_UI_SPICEModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.SPICE.presentation.SPICEEditorID"
            name="%_UI_SPICEEditor_label"
            icon="icons/full/obj16/SPICEModelFile.gif"
            extensions="spice"
            class="QWiki.SPICE.presentation.SPICEEditor"
            contributorClass="QWiki.SPICE.presentation.SPICEActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.RASCI.presentation.RASCIModelWizardID"
            name="%_UI_RASCIModelWizard_label"
            class="QWiki.RASCI.presentation.RASCIModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RASCIModelFile.gif">
         <description>%_UI_RASCIModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.RASCI.presentation.RASCIEditorID"
            name="%_UI_RASCIEditor_label"
            icon="icons/full/obj16/RASCIModelFile.gif"
            extensions="rasci"
            class="QWiki.RASCI.presentation.RASCIEditor"
            contributorClass="QWiki.RASCI.presentation.RASCIActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Bibliography.presentation.BibliographyModelWizardID"
            name="%_UI_BibliographyModelWizard_label"
            class="QWiki.Bibliography.presentation.BibliographyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BibliographyModelFile.gif">
         <description>%_UI_BibliographyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Bibliography.presentation.BibliographyEditorID"
            name="%_UI_BibliographyEditor_label"
            icon="icons/full/obj16/BibliographyModelFile.gif"
            extensions="bibliography"
            class="QWiki.Bibliography.presentation.BibliographyEditor"
            contributorClass="QWiki.Bibliography.presentation.BibliographyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Glossary.presentation.GlossaryModelWizardID"
            name="%_UI_GlossaryModelWizard_label"
            class="QWiki.Glossary.presentation.GlossaryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GlossaryModelFile.gif">
         <description>%_UI_GlossaryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Glossary.presentation.GlossaryEditorID"
            name="%_UI_GlossaryEditor_label"
            icon="icons/full/obj16/GlossaryModelFile.gif"
            extensions="glossary"
            class="QWiki.Glossary.presentation.GlossaryEditor"
            contributorClass="QWiki.Glossary.presentation.GlossaryActionBarContributor">
      </editor>
   </extension>
</plugin>
