<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0"
            class="QWiki.QWikiPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QWiki -->
      <parser
            type="qwiki"
            class="QWiki.util.QWikiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uml2ecore -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/spice"
            class="QWiki.Spice.SpicePackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated uml2ecore -->
      <parser
            type="spice"
            class="QWiki.Spice.util.SpiceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uml2ecore -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/rasci"
            class="QWiki.Rasci.RasciPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/content"
            class="QWiki.Content.ContentPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QWiki -->
      <parser
            type="content"
            class="QWiki.Content.util.ContentResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/references"
            class="QWiki.References.ReferencesPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/glossary"
            class="QWiki.Glossary.GlossaryPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http://schumann.engineering/qwiki/1.0/domain"
            class="QWiki.Domain.DomainPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QWiki -->
      <package
            uri="http:///QWiki/Relationships.ecore"
            class="QWiki.Relationships.RelationshipsPackage"
            genModel="model/QWiki.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0"
            class="QWiki.provider.QWikiItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uml2ecore -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/spice"
            class="QWiki.Spice.provider.SpiceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uml2ecore -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/rasci"
            class="QWiki.Rasci.provider.RasciItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/content"
            class="QWiki.Content.provider.ContentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/references"
            class="QWiki.References.provider.ReferencesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/glossary"
            class="QWiki.Glossary.provider.GlossaryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http://schumann.engineering/qwiki/1.0/domain"
            class="QWiki.Domain.provider.DomainItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated QWiki -->
      <factory
            uri="http:///QWiki/Relationships.ecore"
            class="QWiki.Relationships.provider.RelationshipsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.presentation.QWikiModelWizardID"
            name="%_UI_QWikiModelWizard_label"
            class="QWiki.presentation.QWikiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QWikiModelFile.gif">
         <description>%_UI_QWikiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.presentation.QWikiEditorID"
            name="%_UI_QWikiEditor_label"
            icon="icons/full/obj16/QWikiModelFile.gif"
            extensions="qwiki"
            class="QWiki.presentation.QWikiEditor"
            contributorClass="QWiki.presentation.QWikiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Spice.presentation.SpiceEditorID"
            name="%_UI_SpiceEditor_label"
            icon="icons/full/obj16/SpiceModelFile.gif"
            extensions="spice"
            class="QWiki.Spice.presentation.SpiceEditor"
            contributorClass="QWiki.Spice.presentation.SpiceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Rasci.presentation.RasciEditorID"
            name="%_UI_RasciEditor_label"
            icon="icons/full/obj16/RasciModelFile.gif"
            extensions="rasci"
            class="QWiki.Rasci.presentation.RasciEditor"
            contributorClass="QWiki.Rasci.presentation.RasciActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Content.presentation.ContentModelWizardID"
            name="%_UI_ContentModelWizard_label"
            class="QWiki.Content.presentation.ContentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContentModelFile.gif">
         <description>%_UI_ContentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Content.presentation.ContentEditorID"
            name="%_UI_ContentEditor_label"
            icon="icons/full/obj16/ContentModelFile.gif"
            extensions="content"
            class="QWiki.Content.presentation.ContentEditor"
            contributorClass="QWiki.Content.presentation.ContentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.References.presentation.ReferencesEditorID"
            name="%_UI_ReferencesEditor_label"
            icon="icons/full/obj16/ReferencesModelFile.gif"
            extensions="references"
            class="QWiki.References.presentation.ReferencesEditor"
            contributorClass="QWiki.References.presentation.ReferencesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Glossary.presentation.GlossaryEditorID"
            name="%_UI_GlossaryEditor_label"
            icon="icons/full/obj16/GlossaryModelFile.gif"
            extensions="glossary"
            class="QWiki.Glossary.presentation.GlossaryEditor"
            contributorClass="QWiki.Glossary.presentation.GlossaryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="QWiki.Domain.presentation.DomainEditor"
            contributorClass="QWiki.Domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QWiki -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="QWiki.Relationships.presentation.RelationshipsModelWizardID"
            name="%_UI_RelationshipsModelWizard_label"
            class="QWiki.Relationships.presentation.RelationshipsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelationshipsModelFile.gif">
         <description>%_UI_RelationshipsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QWiki -->
      <editor
            id="QWiki.Relationships.presentation.RelationshipsEditorID"
            name="%_UI_RelationshipsEditor_label"
            icon="icons/full/obj16/RelationshipsModelFile.gif"
            extensions="relationships"
            class="QWiki.Relationships.presentation.RelationshipsEditor"
            contributorClass="QWiki.Relationships.presentation.RelationshipsActionBarContributor">
      </editor>
   </extension>

</plugin>
