<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Elements"
            class="CSMN.Elements.ElementsPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Connections"
            class="CSMN.Connections.ConnectionsPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Asset"
            class="CSMN.Characteristics.Asset.AssetPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Energy"
            class="CSMN.Characteristics.Energy.EnergyPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Flow"
            class="CSMN.Characteristics.Flow.FlowPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Interface"
            class="CSMN.Characteristics.Interface.InterfacePackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Material"
            class="CSMN.Characteristics.Material.MaterialPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Security"
            class="CSMN.Characteristics.Security.SecurityPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Storage"
            class="CSMN.Characteristics.Storage.StoragePackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/PrimitiveTypes"
            class="CSMN.PrimitiveTypes.PrimitiveTypesPackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Lifecycle"
            class="CSMN.Lifecycle.LifecyclePackage"
            genModel="CSMN/src/CSMN.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://CSMN/"
            target="platform:/plugin/schumann-engineering.uml-profiles/CSMN/src/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Cybersecurity Modelling Notation"
            name="CSMN"
            path="pathmap://CSMN/CSMN/src/CSMN.profile.uml"
            provider="Schumann.Engineering">
      </profile>
   </extension>

</plugin>
