<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://CSMN/profile/"
            target="platform:/plugin/engineering.schumann.uml.profile.csmn/src/uml/">
      </mapping>
      
      <mapping
            source="pathmap://CSMN/css/"
            target="platform:/plugin/engineering.schumann.uml.profile.csmn/res/css/">
      </mapping>
      
      <mapping
            source="pathmap://CSMN/assets/"
            target="platform:/plugin/engineering.schumann.uml.profile.csmn/res/assets/">
      </mapping>
   </extension>
   
   
   <extension
         point="org.eclipse.uml2.uml.generated_package">
         <profile
         	uri="http://schumann-engineering/csmn/1/"
         	location="pathmap://CSMN/profile/CSMN.profile.uml#_Sv9oAKTMEe6ULIx8cDHqqA"
         /> 
   </extension>
   
	<extension
   		point="org.eclipse.papyrus.infra.gmfdiag.css.theme">
   		<!-- -->
   		<themeContribution
            id="org.eclipse.papyrus.css.papyrus_theme"
        >
        	<stylesheet stylesheetPath="res/css/CSMN.css" />
		</themeContribution>
   	</extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann.engineering/csmn/1"
            class="engineering.schumann.uml.profile.csmn.CSMNPackage"
            genModel="src/ecore/CSMN.genmodel"/>
   </extension>
   
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="CyberSecurity Modelling Notation (CSMN)"
            iconpath="res/assets/security-16.png"
            name="CSMN"
            path="pathmap://CSMN/profile/CSMN.profile.uml"
            provider="Schumann.Engineering">
      </profile>
   </extension>

</plugin>
