<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Elements"
            class="CSMN.Elements.ElementsPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Connections"
            class="CSMN.Connections.ConnectionsPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Asset"
            class="CSMN.Characteristics.Asset.AssetPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Energy"
            class="CSMN.Characteristics.Energy.EnergyPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Flow"
            class="CSMN.Characteristics.Flow.FlowPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Interface"
            class="CSMN.Characteristics.Interface.InterfacePackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Material"
            class="CSMN.Characteristics.Material.MaterialPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Security"
            class="CSMN.Characteristics.Security.SecurityPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Characteristics/Storage"
            class="CSMN.Characteristics.Storage.StoragePackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/PrimitiveTypes"
            class="CSMN.PrimitiveTypes.PrimitiveTypesPackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CSMN -->
      <package
            uri="http://schumann-engineering/csmn/1/Lifecycle"
            class="CSMN.Lifecycle.LifecyclePackage"
            genModel="src/CSMN.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://CSMN/"
            target="platform:/plugin/engineering.schumann.csmn/src/">
      </mapping>
   </extension>
   <extension
         name="platform:/plugin/engineering.schumann.csmn/src/"
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://CSMN-res/"
            target="platform:/plugin/engineering.schumann.csmn/res/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
         <profile
         	uri="http://schumann-engineering/csmn/1"
         	location="pathmap://CSMN/CSMN.profile.uml#_Sv9oAKTMEe6ULIx8cDHqqA"
         /> 
               
         <package
               uri="http://schumann-engineering/csmn/1/Asset"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCO64DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Energy"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCV64DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Flow"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCaq4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Interface" 
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCkK4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Material" 
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCya4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Storage" 
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWDCK4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Connections"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWCFK4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Elements"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWB4a4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/Lifecycle"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWDPa4DEe6jqeB5njcjPA"
         /> 
		 
		 <package
               uri="http://schumann-engineering/csmn/1/PrimitiveTypes"
		 		location="pathmap://CSMN/CSMN.profile.uml#_doWDI64DEe6jqeB5njcjPA"
         />
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Cybersecurity Modelling Notation"
            iconpath="res/assets/security.svg"
            name="CSMN"
            path="pathmap://CSMN/CSMN.profile.uml"
            provider="Schumann.Engineering">
      </profile>
   </extension>

</plugin>
