/* ====================
 * STEREOTYPES
 * ==================== */
/* hide stereotype names */
Label[stereotype="OSI::OSI-Layers"],
Compartment[stereotype="OSI::OSI-Layers"] {
	visible:			false;
}


/* ====================
 * LABELS
 * ==================== */
/* hide stereotype label of connection */
Dependency[appliedStereotypes~="OSI::OSI-Layers"] > Label[kind=Stereotype] {
	visible: 		false;
}

/* hide text label of connection */
Dependency[appliedStereotypes~="OSI::OSI-Layers"] > Label[kind=Name] {
	visible: 		true;
}
